@using KütüphaneTakip.Core.Entites
@model List<Book>
@{
    ViewData["Title"] = "Books";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<br />
<h2>Kitaplar</h2>
<a href="~/Admin/NewBook" class="link-primary">Kitap Tanımlama</a>
<br />
<br />
<table class="table ">
    <tr>
        <th>#</th>
        <th>İsim</th>
        <th>Kategori</th>
        <th>Yazar</th>
        <th>Eklenme Tarihi</th>
        <th>Statu</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Category?.CategoryName</td>
            <td>@item.Author?.AuthorName</td>
            <td>@item.CDate.ToString("dd.MM.yyyy")</td>
            <td>@item.BookStatu</td>
            @if (item.BookStatu == BookStatu.Boşta)
            {
                <td>
                    <a href="~/User/BookReservation/@item.Id" class="link-primary">Rezerve</a>
                </td>
            }



        </tr>
    }
</table>
